

*{
    padding: 0;
    margin: 0;
    border: none;
}



.containerforms{
    background-color: #fdfdfd;
    width: calc(100% - 1px);
    max-width: 100vw;
    height: 60vh;
    position:fixed;
}



.footerforms h2{
    color: #b6b6b69d;
    font-family: 'Alata', sans-serif;
    margin-top: 66vh;
    font-size: 0.9em;
    text-align: end;
    padding: 10px;

}


.alingcontainerforms{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}


.alingfooterforms{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
}

.alingformsrepo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    margin-top:60px;
    
}

.alingbtnforms{
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: row;
}

.formsrepo1 input{
    padding: 12px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: solid #cecece 2px;
    display: block;
}

.formsrepo1 label{
    color: #131313;
    padding: 5px;
}

.textformsrepo h2{
    padding: 10px;
}


.formsrepo2 input{
    padding: 12px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: solid #cecece 2px;
    display: block;
    width: calc(100% - 10px);
    max-width: 300px;

   
}

.formsrepo2 label{
    color: #131313;
    padding: 5px;
}

.formsrepo1{
    padding: 10px;
    margin: 5px;

}

.formsrepo2{
    padding: 10px;
    margin: 5px;
}

.formsrepo3{
    padding: 10px;
    margin: 5px;
}

.formsrepo4{
    padding: 10px;
    margin: 5px;
}

.formsrepobtn{
    padding: 10px;
    margin: 5px;
}

.formsrepo3 input {
    display: block;
    padding: 12px;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: solid #cecece 2px;
    display: block;
    width: 150px;
    height: 15.8px;
    width: calc(100% - 10px);
    max-width: 300px;

}

.formsrepo3 label{
    color: #131313;
    padding: 5px;
}


.formsrepo4 input{
    padding: 12px ;
    background-color: #fdfdfd;
    border-radius: 8px;
    border: solid #cecece 2px;
    display: block;
    width: calc(100% - 10px);
    max-width: 300px;

}

.formsrepo4 label{
    color: #131313;
    padding: 5px;
}


.formsrepobtn button{
    padding: 12px 24px;
    background:#131313 ;
    border-radius: 3px;
    border: none;
    width: 170px;
    height: 40px;
    font-family: Poppins;
    color: #fff;
}

@media screen and (min-width:1600px) and (max-width:1990px) {

  .alingformsrepo{
    margin-top: 23vh;
  }

  .formsrepobtn button{
    font-size: 16px;
  }
}