@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.first_cont{
    background-color: #000000;
    width: 100vw;
    height: 4vh;
    padding: 1vw;
}

.body{
    background-color: #f6f6f6;
}

.alingdirection{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.logohome{
    height: 70px;
    top: 9px;
    position: absolute;
}

.icon_home{
    height: 20px;
    position: absolute;
    left: 147px;
    top: 34px;
}

.logUsuario{
    position: absolute;
    color: white;
    font-family: 'alata';
    top: 25px;
    left: 210px;
    text-decoration: none;
    cursor: default;
    font-size: 22px;
}

.yperdirection{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Alata', sans-serif;
    font-size: 1.5em;
    transition: 0.5s all;
}

.mtp{
    text-align: right;
}

.mtp a:hover{
    color:#B6B6B6;
    transition: 0.5s all;
}

.icon_door{
    height: 40px;
    margin-top: 20px;
}

.back{
    text-decoration: none;
    font-family: 'alata';
    color: black;
    font-size: 30px;
    position: absolute;
    top: 94px;
}

.text_center{
    font-family: 'alata';
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.text_hora {
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    color: #000000;
    font-weight: 100;
}

.icon_day {
    height: 50px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-family: 'alata';
    color: #B6B6B6;
    display: block;
    text-align: center; 
    position: fixed; 
    bottom: 160px; 
    width: 100%; 
    font-size: 0.9rem;
    margin-top: 20px;
}
