.body {
    background-color: #F6F6F6F6;
    height: 100vh;
    top: 0;
    width: 100%;
}

.logo1 {
    height: 12%;
    width: 11%;
    left: 45%;
    top: 10%;
}
.tittle{
    font-size: 20px;
    margin: 20px;
}
.formsz{
    /* background-color: red; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.mtpQr{
    margin-top: 0px!important;
    text-align: right;
}

.select1{
    width: calc(330px - 10px)!important;
    
}
.select1,
.select2,
.button {
    border-radius: 3px;
    width: 330px;
    height: 40px;
    color: black;
    font-family: 'alata';
    padding: 5px!important;
    font-size: 16px;
    display: block;
}

.select1 {
    top: 323px;
    left: 50%;
}

.select2 {
    background: #fff;
    top: 385px;
    left: 50%;
}

.button {
    color: white;
    background-color: black;
    cursor: pointer;
    width: 330px;
    height: 40px;
    border-radius: 3px;
    transition: all .3s;
    font-family: 'alata';
}

.footer {
    font-family: 'alata';
    color: #B6B6B6;
    font-size: 65%;
    left: 50%;
}
